@import "circleSign";
@import "refreshSign";

.filter-wrapper {
  flex: 1;
  background-color: #c2e0ea;
  padding: 32px;

  header {
    font-size: 24px;
    font-weight: 300;
  }

  .filter {
    margin: 16px 0;
    .label {
      display: flex;
      margin-bottom: 16px;

      > *:not(:last-child) {
        margin-right: 8px;
      }
    }

    .VirtualizedSelectOption {
      padding: 0 10px;
      cursor: pointer;
    }
  }
}